.header {
  position: relative;
  padding: 1rem;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  background-color: #f5a7e4;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.header h2 {
  display: flex;
  justify-content: center;
}

.header nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header ul {
  height: 100%;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.header li {
  margin: 0 1rem;
  width: auto;
  margin: 1rem;
}

.header a {
  color: #333;
  text-decoration: none;
  margin: 1rem;
}

.header a:hover,
.header a:active,
.header a.active {
  color: #fff;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid #fff;
  margin: 1rem;
}

.header button {
  color: #fff;
  text-decoration: none;
  border-radius: 0.5rem;
  background-color: #333;
  size: 5rem;
  width: 5rem;
  height: 2rem;
  margin-left: 15rem;
}

.header button:hover,
.header button:active,
.header button.active {
  color: #ffc04d;
  padding-bottom: 0.25rem;
  border-bottom: 2px solid #ffc04d;
  width: 5rem;
}

.darkHeader {
  position: relative;
  padding: 1rem;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  background-color: #001432;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.darkHeader h2 {
  display: flex;
  justify-content: center;
}

.darkHeader nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.darkHeader ul {
  height: 100%;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.darkHeader li {
  margin: 0 1rem;
  width: auto;
  margin: 1rem;
}

.darkHeader a {
  color: #fff;
  text-decoration: none;
  margin: 1rem;
}

.darkHeader a:hover,
.darkHeader a:active,
.darkHeader a.active {
  color: #ffc04d;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid #ffc04d;
  margin: 1rem;
}
.darkHeader button {
  color: rgb(250, 239, 239);
  text-decoration: none;
  border-radius: 0.5rem;
  background-color: rgb(94, 57, 6);
  size: 5rem;
  width: 5rem;
  height: 2rem;
  margin-left: 15rem;
}

.darkHeader button:hover,
.darkHeader button:active,
.darkHeader button.active {
  color: #dee3e9;
  padding-bottom: 0.25rem;
  border-bottom: 2px solid #95bcf0;
  width: 5rem;
}
